* {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
.IndexPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.navbar p{
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
}
.navbar .Login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 5px;
}
.navbar .Login h3 {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.Search {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
.Search input {
    width:100%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}
.footer {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    padding: 5px; 
    border-radius: 5px;
}
.modal-body ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-body ul li {
    background-color: rgba(165, 165, 165, 0.254);
    padding: 5px;
    border-radius: 10px;
}
.modal-content .modal-body input{
    width: 100%;
    height: 30px;
}
.modal-content .modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Site {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.Site .Categories {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 5px;
}
.Site .Categories .Category {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    width: 50vh;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.Site .Categories .Category h3 {
    margin: 0; /* Remove default margin from heading */
    text-align: center; /* Center align heading text */
    margin-bottom: 10px; /* Space below heading */
}

.AllSites {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.595);
    padding: 5px;
    display: flex;
    gap: 5px;
}
.WebSite {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.WebSite a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.WebSite:hover {
    cursor: pointer;
}
.WebSite:hover img{
    transform: scale(1.15);
    transition: 0.1s ease-in-out;
}
.WebSite:hover a{
    color: blue;
}
.WebSite img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}
.editCheckbox {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.editCheckbox input{
    cursor: pointer;
}

.AboutAdmin {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
}
.AboutAdmin .adminDetails {
    display: flex;
    flex-direction: column;
    font-size: larger;
}
.adminDetails strong {
    font-size:xx-large;
    font-style: italic;
}
.adminDetails strong2 {
    font-size:x-large;
    font-style: italic;
}
.privacy {
    font-style: italic;
    background-color: rgba(128, 128, 128, 0.177);
    color: blue;
}
.adminDetails a {
    text-decoration:none;
    font-style: italic;
}
.AboutAdmin img {
    height: 300px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.747));
}
.AboutWebsite {
    font-size: larger;
    font-style: italic;
    padding: 3px;
    text-align: justify;
    border-bottom: 1px solid black;
}
.AboutWebsite strong {
    font-size: xx-large;
}
.AboutWebsite p {
    border-bottom: 1px solid black;
}
.AboutWebsite h4 {
    font-weight: bold;
    text-decoration: underline;
}
.AboutWebsite h5 {
    font-weight: bold;
}

.footer .mobile {
    display: none;
}



@media screen and (max-width: 940px) {
    .IndexPage {
        height: auto;
    }
   .Categories {
    flex-direction: column;
   }
   .Site .Categories .Category  {
    width: 100%;
    justify-content: flex-start;
   }
    .AllSites{
          justify-content: space-around;
    }
   .navbar p{
    display: none;
   }
   .Search {
    width: 100%;
   }
   .navbar {
    padding: 10px;
    gap: 20px;
   }
    *{
        font-size: 12px;
    }
    .navbar .Login {
        width: 100%;
        justify-content: flex-end;
    }
    .footer {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 675px) {
    .footer {
        position: relative;
    }
    .footer .desktop {
        display: none;
    }
    .footer .mobile {
        display: contents;
    }
    .footer .dropdown-menu .editCheckbox{
        justify-content: flex-start;
    }
    .footer .dropdown-menu .btn {
        text-align: left;
    }
}